{# src/MDW/DemoBundle/Resources/views/Notice/noticeView.html.twig #}

{# note que en este caso utilizamos el layout de ajax para así no cargar todo el contenido del layout general #}
{% extends app.request.isXmlHttpRequest ? "DMWDemoBundle::layout_ajax.html.twig" : "DMWDemoBundle::layout.html.twig" %}
{% block content %}
<div>
    <h2>{{notice.title}}</h2>
    <p>{{notice.content}}</p>
</div>
{% endblock content %}